.reservation-details-section {
  grid-row: 2;
  grid-column: 1 / 12;
  display: grid;
  grid-template-columns: subgrid;
  font-family: "Times New Roman", Times, serif;
}

.reservation-details-section-heading {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  grid-column: 2 / 11;
  padding-top: 20px;
  align-items: center;
  grid-row: 1;
}

@media (min-width: 440px) {
  .reservation-details-section-heading {
    padding-top: 40px;
  }
}

@media (min-width: 992px) {
  .reservation-details-section-heading {
    padding-top: 60px;
  }
}

.asterisk {
  color: red;
}

.required-field-text {
  font-weight: lighter;
  margin-left: 5px;
}

.reservation-details-section-content {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 2 / 11;
  padding-top: 15px;
  grid-row: 2;
}

@media (min-width: 440px) {
  .reservation-details-section-content {
    padding-top: 25px;
    margin-bottom: 25px;
  }
}

.reservation-date-and-time-value {
  width: 100%;
}

.number-of-diners-value {
  width: 30%;
}

@media (min-width: 992px) {
  .reservation-date-and-time-value,
  .number-of-diners-value,
  .occasion-select-value,
  .reservation-comments-value {
    line-height: 3;
  }
}

.occasion-select-value {
  font-size: 11px;
  width: 100%;
}

@media (min-width: 440px) {
  .occasion-select-value {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .occasion-select-value {
    font-size: 36px;
  }
}

.reservation-comments-value {
  width: 100%;
}
