* {
  margin: 0;
  padding: 0;
}

body {
  margin: 4px;
  max-width: 900px;
  min-width: 375px;
}

@media (min-width: 440px) {
  body {
    margin: 40px;
    max-width: 1100px;
  }
}

@media (min-width: 992px) {
  body {
    margin: 40px;
    max-width: 1440px;
  }
}

h1 {
  font-size: 25px;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

@media (min-width: 440px) {
  h1 {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 64px;
  }
}

h2 {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

@media (min-width: 440px) {
  h2 {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 50px;
  }
}

h3 {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}

@media (min-width: 440px) {
  h3 {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  h3 {
    font-size: 20px;
  }
}
div#root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

header {
  grid-row: 1;
  grid-column: 2 / 11;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 992px) {
  header {
    justify-content: space-between;
  }
}

header > img {
  width: 100%;
  height: 32px;
  padding-bottom: 5px;
}

@media (min-width: 440px) {
  header > img {
    height: 64px;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  header > img {
    width: 202px;
    height: 64px;
    padding-bottom: 10px;
  }
}

ul {
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 0px 5px 5px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-family: "Arial";
  font-size: 11px;
}

@media (min-width: 440px) {
  nav a {
    font-size: 16px;
  }
}

nav a:hover {
  color: #495e57;
}

main {
  display: grid;
  grid-template-columns: subgrid;
  grid-row: 2;
  grid-column: 1 / 12;
}

.hero-section {
  background-color: #495e57;
  display: grid;
  grid-template-columns: subgrid;
  grid-row: 1;
  grid-column: 1 / 12;
  max-height: 175px;
  z-index: 1;
}

@media (min-width: 440px) {
  .hero-section {
    max-height: 250px;
  }
}

@media (min-width: 992px) {
  .hero-section {
    max-height: 400px;
  }
}

.hero-section h1 {
  color: #f4ce14;
}

.hero-section-left-column {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  grid-column: 2 / 7;
  color: white;
  font-size: 11px;
  padding-top: 10px;
}

@media (min-width: 440px) {
  .hero-section-left-column {
    font-size: 15px;
    padding-top: 10px;
  }
}

@media (min-width: 992px) {
  .hero-section-left-column {
    font-size: 30px;
    padding-top: 20px;
  }
}

.hero-section-body-text {
  margin-top: 1rem;
  font-family: "Times New Roman", Times, serif;
}

.reserve-table-button {
  display: inline-block;
  width: 100px;
  height: 25px;
  border-radius: 10px;
  font-size: 11px;
  font-weight: bold;
  background-color: #f4ce14;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (min-width: 440px) {
  .reserve-table-button {
    width: 180px;
    height: 35px;
    border-radius: 15px;
    font-size: 15px;
    margin-bottom: 45px;
  }
}

@media (min-width: 992px) {
  .reserve-table-button {
    width: 300px;
    height: 50px;
    border-radius: 30px;
  }
}

.hero-section-right-column {
  display: flex;
  flex-flow: column wrap;
  grid-column: 8 / 11;
  padding-top: 10px;
}

@media (min-width: 440px) {
  .hero-section-right-column {
    padding-top: 20px;
  }
}

.hero-section img {
  width: 100%;
  border-radius: 10%;
  height: 175px;
}

@media (min-width: 440px) {
  .hero-section img {
    height: 250px;
  }
}

@media (min-width: 992px) {
  .hero-section img {
    height: 410px;
  }
}

.highlights-section {
  grid-row: 2;
  grid-column: 1 / 12;
  display: grid;
  grid-template-columns: subgrid;
}

.highlights-section-heading {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  grid-column: 2 / 11;
  padding-top: 20px;
  align-items: center;
  grid-row: 1;
}

@media (min-width: 440px) {
  .highlights-section-heading {
    padding-top: 40px;
  }
}

@media (min-width: 992px) {
  .highlights-section-heading {
    padding-top: 60px;
  }
}

.online-menu-button {
  display: inline-block;
  width: 85px;
  height: 30px;
  border-radius: 10px;
  font-size: 11px;
  font-weight: bold;
  background-color: #f4ce14;
  border: none;
}

@media (min-width: 440px) {
  .online-menu-button {
    width: 120px;
    height: 35px;
    border-radius: 15px;
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .online-menu-button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
  }
}

.highlights-section-content {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 2 / 11;
  padding-top: 15px;
  grid-row: 2;
}

@media (min-width: 440px) {
  .highlights-section-content {
    padding-top: 25px;
    margin-bottom: 25px;
  }
}

.highlights-section-content-first-column {
  background-color: #f1f0f0;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  grid-column: 1 / 12;
  grid-row: 1;
}

@media (min-width: 440px) {
  .highlights-section-content-first-column {
    grid-column: 1 / 3;
    align-items: normal;
  }
}

.dish-image {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 7 / 10;
}

@media (min-width: 440px) {
  .highlights-section-content-first-column .dish-image {
    grid-column: 1 / 3;
    height: 130px;
  }

  .highlights-section-content-second-column .dish-image {
    grid-column: 1 / 4;
    height: 130px;
  }

  .highlights-section-content-third-column .dish-image {
    grid-column: 1 / 3;
    height: 130px;
  }
}

@media (min-width: 992px) {
  .highlights-section-content-first-column .dish-image {
    height: 175px;
  }

  .highlights-section-content-second-column .dish-image {
    height: 175px;
  }

  .highlights-section-content-third-column .dish-image {
    height: 175px;
  }
}

.dish-and-price {
  grid-column: 1 / 7;
  grid-row: 1;
  display: grid;
  grid-template-columns: subgrid;
}

@media (min-width: 440px) {
  .dish-and-price {
    grid-row: 2;
    text-align: center;
  }

  .highlights-section-content-first-column .dish-and-price {
    grid-column: 1 / 3;
  }
}

@media (min-width: 992px) {
  .dish-and-price {
    text-align: left;
    grid-template-columns: 2fr 1fr;
  }
}

.dish-title {
  grid-row: 1;
  grid-column: 1 / 4;
}

@media (min-width: 992px) {
  .dish-title {
    grid-column: 1 / 3;
  }
}

.dish-price {
  grid-row: 1;
  grid-column: 4 / 8;
  color: #ee9972;
}

@media (min-width: 440px) {
  .dish-price {
    grid-row: 2;
    grid-column: 1 / 4;
  }
}

@media (min-width: 992px) {
  .dish-price {
    grid-row: 1;
    text-align: right;
    grid-column: 4 / 8;
  }
}

.dish-description {
  grid-row: 2;
  grid-column: 1 / 10;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 11px;
  font-family: "Times New Roman", Times, serif;
}

@media (min-width: 440px) {
  .dish-description {
    grid-row: 3;
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .dish-description {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .dish-description {
    font-size: 18px;
  }
}

.order-a-delivery {
  grid-row: 3;
  grid-column: 1 / 10;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
}

@media (min-width: 440px) {
  .order-a-delivery {
    grid-row: 4;
  }
}

.order-a-delivery h3 {
  grid-row: 1;
  grid-column: 1 / 4;
  font-size: 11px;
}

@media (min-width: 440px) {
  .order-a-delivery h3 {
    font-size: 15px;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .order-a-delivery h3 {
    font-size: 18px;
    text-align: left;
  }
}

.delivery-icon {
  grid-row: 1;
  grid-column: 4 / 8;
  width: 30px;
  height: 30px;
}

@media (min-width: 440px) {
  .delivery-icon {
    grid-column: 1 / 3;
    grid-row: 2;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .delivery-icon {
    grid-column: 2 / 3;
    margin-left: auto;
    grid-row: 1;
    margin-right: initial;
  }

  .highlights-section-content-second-column .delivery-icon {
    grid-column: 3 / 4;
  }
}

.highlights-section-content-second-column {
  background-color: #f1f0f0;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  grid-column: 1 / 12;
  grid-row: 2;
  margin-top: 10px;
}

@media (min-width: 440px) {
  .highlights-section-content-second-column {
    grid-row: 1;
    grid-column: 4 / 7;
    margin-top: 0px;
    margin-right: 16.5%;
    margin-left: 16.5%;
    align-items: normal;
  }
}

.highlights-section-content-third-column {
  background-color: #f1f0f0;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  grid-column: 1 / 12;
  grid-row: 3;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 440px) {
  .highlights-section-content-third-column {
    grid-row: 1;
    grid-column: 8 / 11;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: normal;
  }
}

.testimonials-section {
  grid-row: 3;
  grid-column: 1 / 12;
  display: grid;
  grid-template-columns: subgrid;
  background-color: #ee9972;
}

.testimonials-section-heading {
  display: flex;
  flex-flow: row nowrap;
  grid-column: 2 / 11;
  padding-top: 20px;
  border-top: 20px;
  align-items: center;
  grid-row: 1;
}

@media (min-width: 440px) {
  .testimonials-section-heading {
    padding-top: 10px;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .testimonials-section-heading {
    padding-top: 20px;
  }
}

.testimonials-section-content {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 2 / 11;
  padding-top: 15px;
  grid-row: 2;
}

@media (min-width: 440px) {
  .testimonials-section-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.testimonials-section-content-first-column {
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  grid-column: 1 / 12;
  grid-row: 1;
}

@media (min-width: 440px) {
  .testimonials-section-content-first-column {
    display: flex;
    flex-flow: column wrap;
  }
}

.testimonials-rating-image {
  width: 100%;
  grid-row: 1;
  grid-column: 7 / 10;
}

@media (min-width: 440px) {
  .testimonials-rating-image {
    width: 80%;
    align-self: flex-start;
  }
}

.avatar-and-name {
  grid-column: 1 / 7;
  grid-row: 1;
  display: grid;
  grid-template-columns: subgrid;
}

@media (min-width: 440px) {
  .avatar-and-name {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-self: flex-start;
  }
}

.avatar-image {
  width: 30px;
  height: 30px;
  grid-row: 1;
  grid-column: 1 / 4;
}

@media (min-width: 440px) {
  .avatar-image {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 992px) {
  .avatar-image {
    width: 75px;
    height: 75px;
    margin-top: 15px;
  }
}

.avatar-name {
  grid-row: 1;
  grid-column: 2 / 8;
  align-self: center;
  padding-left: 10px;
}

@media (min-width: 440px) {
  .avatar-name {
    padding-left: 5px;
  }
}

.testimonials-text {
  grid-row: 2;
  grid-column: 1 / 10;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 11px;
  font-family: "Times New Roman", Times, serif;
}

@media (min-width: 440px) {
  .testimonials-text {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .testimonials-text {
    font-size: 18px;
  }
}

.testimonials-section-content-second-column {
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  grid-column: 1 / 12;
  grid-row: 2;
}

@media (min-width: 440px) {
  .testimonials-section-content-second-column {
    display: flex;
    flex-flow: column wrap;
  }
}

.testimonials-section-content-third-column {
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  grid-column: 1 / 12;
  grid-row: 3;
}

@media (min-width: 440px) {
  .testimonials-section-content-third-column {
    display: flex;
    flex-flow: column wrap;
  }
}

.testimonials-section-content-fourth-column {
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  grid-column: 1 / 12;
  grid-row: 4;
}

@media (min-width: 440px) {
  .testimonials-section-content-fourth-column {
    display: flex;
    flex-flow: column wrap;
  }
}

.about-section {
  display: grid;
  grid-template-columns: subgrid;
  grid-row: 4;
  grid-column: 1 / 12;
  max-height: 175px;
}

@media (min-width: 440px) {
  .about-section {
    max-height: 300px;
  }
}

@media (min-width: 992px) {
  .about-section {
    max-height: 450px;
  }
}

.about-section-left-column {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  grid-column: 2 / 7;
  color: black;
  font-size: 11px;
  padding-top: 10px;
}

@media (min-width: 440px) {
  .about-section-left-column {
    font-size: 15px;
    padding-top: 25px;
  }
}

@media (min-width: 992px) {
  .about-section-left-column {
    font-size: 32px;
    padding-top: 25px;
  }
}

.about-section-body-text {
  margin-top: 1rem;
  padding-right: 10px;
  font-family: "Times New Roman", Times, serif;
}

.about-section-chef-left-column {
  display: flex;
  flex-flow: column wrap;
  grid-column: 7 / 9;
  padding-top: 10px;
  justify-content: flex-end;
}

@media (min-width: 440px) {
  .about-section-chef-left-column {
    padding-top: 25px;
  }
}

.about-section-left-image {
  width: 100%;
  height: 125px;
}

@media (min-width: 440px) {
  .about-section-left-image {
    height: 80%;
  }
}

.about-section-chef-right-column {
  display: flex;
  flex-flow: column wrap;
  grid-column: 9 / 11;
  padding-top: 10px;
}

@media (min-width: 440px) {
  .about-section-chef-right-column {
    padding-top: 25px;
  }
}

.about-section-right-image {
  width: 100%;
  height: 125px;
}

@media (min-width: 440px) {
  .about-section-right-image {
    height: 80%;
  }
}

footer {
  display: grid;
  grid-template-columns: subgrid;
  grid-row: 3;
  grid-column: 1 / 12;
  background-color: #495e57;
  margin-top: 10px;
}

@media (min-width: 440px) {
  footer {
    margin-top: 25px;
  }
}

.footer-content {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 2 / 11;
  padding-top: 15px;
  grid-row: 1;
}

@media (min-width: 440px) {
  .footer-content {
    padding-top: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.footer-content a {
  text-decoration: none;
  font-family: "Arial";
  font-size: 11px;
}

@media (min-width: 440px) {
  .footer-content a {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .footer-content a {
    font-size: 20px;
  }
}

.footer-first-column {
  display: none;
  padding-bottom: 20px;
}

@media (min-width: 440px) {
  .footer-first-column {
    display: grid;
    grid-template-columns: subgrid;
    grid-row: 1;
    grid-column-start: 1;
    grid-column: auto;
  }

  .footer-image {
    width: 75%;
    height: 100%;
  }
}

.footer-second-column {
  display: flex;
  grid-column: 1 / 4;
  grid-row: 1;
  font-size: 11px;
  flex-flow: column nowrap;
  padding-bottom: 20px;
}

@media (min-width: 440px) {
  .footer-second-column {
    grid-column: auto;
  }
}

@media (min-width: 992px) {
  .footer-second-column {
    grid-column: auto;
  }
}

.footer-heading {
  padding-bottom: 20px;
}

.footer-third-column {
  display: flex;
  grid-column: 4 / 7;
  grid-row: 1;
  font-size: 11px;
  flex-flow: column nowrap;
  padding-bottom: 20px;
}

@media (min-width: 440px) {
  .footer-third-column {
    grid-column: auto;
  }
}

.footer-fourth-column {
  display: flex;
  grid-column: 7 / 10;
  grid-row: 1;
  font-size: 11px;
  flex-flow: column nowrap;
  padding-bottom: 20px;
}

@media (min-width: 440px) {
  .footer-fourth-column {
    grid-column-end: 12;
    grid-column: auto;
  }
}

.footer-fourth-column .footer-heading {
  padding-bottom: 5px;
}

@media (min-width: 440px) {
  .footer-fourth-column .footer-heading {
    padding-bottom: 20px;
  }
}
